@page
@model TheRacingStore.Pages.OrderConfirmedModel
@{
}
<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8">
   <title>
      The Racing Store
   </title>
   <link rel="stylesheet" href="~/css/site.css">
   <link href="https://fonts.googleapis.com/css2?
   family=Poppins:wght@300;400;500;600; 700&display=swap"
   rel="stylesheet">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-
   awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 </head>
  <body>

    <div class="header2">
   <div class="container">
    <div class="navbar">
        <div class="logo">
            <a href="Index"><img src="images/f1-store-logo.png" width="200"></a>
        </div>
    </div>
   </div>
    </div>
  <div>
      <h1 class="title">Order has been placed!</h1>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="btn3">
          <a href="Index" class="btn2" style="display: inline-block;height: 50px;width: 600px" >Go to Home Page</a>
      </div>
  </div>
  <br>
  <br>
  <br>
  <br>
 
    <footer class="footer">
        <div><h1 class="SM">Links to our social media accounts!</h1></div>
        <nav class="socialMedia">
            <ul>
                <li><a href="https://www.facebook.com/lachko.mitov" class="fa fa-facebook"></a></li>
                <li><h1 class="betweenSM">|</h1></li>
                <li><a href="https://twitter.com/Luc68358959" class="fa fa-twitter"></a></li>
                <li><h1 class="betweenSM">|</h1></li>
                <li><a href="https://www.instagram.com/luchounited/" class="fa fa-instagram"></a></li>
                <li><h1 class="betweenSM">|</h1></li>
                <li><a href="https://www.linkedin.com/in/lachezar-mitov-922b49230/" class="fa fa-linkedin"></a></li>
            </ul>
        </nav>
     </footer>
       </body>
     </html>

